<div class="third-screen">
  <div class="cont" [class.top]="isTopClass" [class.right]="isRightClass">
    <div  class="element" (click)="onClick(1)">
      <img [ngSrc]="imagesPaths + 'Screenshot_2-min.jpg'" width="100" height="100" priority>
      <div class="description">
        <p>React application with firebase registration and database.</p>
        <a [href]="barMenu[1].link" target="_blank">Watch</a>
      </div>
    </div>
    <div  class="element" (click)="onClick(2)">
      <img [ngSrc]="imagesPaths + 'Screenshot_3-min.jpg'" width="100" height="100" priority>
      <div class="description">
        <p>Vue Application with the Puzzle Game 'Fifteen' and Charts.</p>
        <a [href]="barMenu[2].link" target="_blank">Watch</a>
      </div>
    </div>
    <div  class="element" (click)="onClick(3)">
      <img [ngSrc]="imagesPaths + 'Screenshot_4-min.jpg'" width="100" height="100" priority>
      <div class="description">
        <p>Angular NgRx Pong game.</p>
        <a [href]="barMenu[3].link" target="_blank">Watch</a>
      </div>
    </div>
    <div  class="element" (click)="onClick(4)">
      <img [ngSrc]="imagesPaths + 'Screenshot_6-min.jpg'" width="100" height="100" priority>
      <div class="description">
        <p>Canvas website congratulations with Firework and music.</p>
        <a [href]="barMenu[5].link" target="_blank">Watch</a>
      </div>
    </div>
    <div  class="element" (click)="onClick(5)">
      <img [ngSrc]="imagesPaths + 'Screenshot_5-min.jpg'" width="100" height="100" priority>
      <div class="description">
        <p>Canvas website birthday congratulations with some animations.</p>
        <a [href]="barMenu[6].link" target="_blank">Watch</a>
      </div>
    </div>
    <div  class="element" (click)="onClick(6)">
      <img [ngSrc]="imagesPaths + 'Screenshot_1-min.jpg'" width="100" height="100" priority>
      <div class="description">
        <p>Please take the test, it's important to me, thank you very much.</p>
        <a [href]="barMenu[7].link" target="_blank">Watch</a>
      </div>
    </div>
  </div>
</div>
