h1 {
  font-family: monospace;
}

.third-screen {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;

  h2 {
    font-size: 3vmax;
    font-family: Roboto, sans-serif;
    position: absolute;
    top: 0;
  }

  .cont {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 90vmax;
    max-width: 90vmin;
    height: 60vmax;
    max-height: 60vmin;
    font-size: 20px;
    transform: translateX(0px) translateY(0px);
    transition: 0.5s linear;

    &:hover {
      .element {
        // transform: scale(0.5);
      }
    }

    &.top {
      transform: translateX(0px) translateY(100dvw) translateZ(100vw);
      transition: 0s 0.5s;
    }
    &.right {
      transform: translateX(-100dvw) translateY(0px) translateZ(100vw);
      transition: 0s 0.5;
    }

    .element {
      width: 30%;
      height: 44%;
      box-sizing: border-box;
      transition: 0.6s;
      border-radius: 1vmax;
      overflow: hidden;

      &:hover {
        transform: scale(1.5);
        z-index: 999;
        box-shadow: 0 0 20px black;

        .description {
          bottom: calc(100% + 1vmax);
        }
      }

      .description {
        height: calc(100% + 1vmax);
        bottom: 0px;
        box-sizing: border-box;
        position: relative;
        background: #000000a8;
        transition: 0.6s;
        font-size: 14px;
        color: white;
        font-family: Roboto, sans-serif;

        p {
          padding: 1.6vmax;
        }
        a {
          display: flex;
          position: absolute;
          border-radius: 1vmax;
          background: #222;
          border: 0.2vmax solid #932e96;
          width: 42%;
          top: 80%;
          right: 2vmax;
          justify-content: center;
          font-size: 14px;
          color: white;
          font-family: Roboto, sans-serif;
          text-decoration: none;
          transition: 0.3s;
          cursor: pointer;
        }
      }

      img {
        width: 100%;
        height: 100%;
        transition: 1s;
        cursor: pointer;
      }

      &:nth-child(1) {
        transform-origin: top left;
      }
      &:nth-child(2) {
        transform-origin: top center;
      }
      &:nth-child(3) {
        transform-origin: top right;
      }
      &:nth-child(4) {
        transform-origin: bottom left;
      }
      &:nth-child(5) {
        transform-origin: bottom center;
      }
      &:nth-child(6) {
        transform-origin: bottom right;
      }
    }

    @media screen and (max-width: 440px) {
      width: 92dvw;
      max-width: 92dvw;
      height: 138dvw;
      max-height: 100vh;
      justify-content: space-around;

      .element {
        height: 31.33%;
        width: 47%;

        &:nth-child(1) {
          transform-origin: top left;
        }
        &:nth-child(2) {
          transform-origin: top right;
        }
        &:nth-child(3) {
          transform-origin: center left;
        }
        &:nth-child(4) {
          transform-origin: center right;
        }
        &:nth-child(5) {
          transform-origin: bottom left;
        }
        &:nth-child(6) {
          transform-origin: bottom right;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .third-screen {
    .cont .element {
      .description {
        p {
          font-size: 2vmin;
        }
        > a {
          font-size: 1.8vmin;
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
