<div class="first-screeen">
  <h1 [class.active-name]="isActiveName$i()">
    <span style="--i:1">{{ isEngLang$i() ? 'R' : 'Р' }}</span>
    <span style="--i:2">{{ isEngLang$i() ? 'u' : 'у' }}</span>
    <span style="--i:3">{{ isEngLang$i() ? 's' : 'с' }}</span>
    <span style="--i:4">{{ isEngLang$i() ? 'l' : 'л' }}</span>
    <span style="--i:5">{{ isEngLang$i() ? 'a' : 'а' }}</span>
    <span style="--i:6">{{ isEngLang$i() ? 'n' : 'н' }}</span>
    <span>&nbsp;</span>
    <span style="--i:7">{{ isEngLang$i() ? 'I' : 'И' }}</span>
    <span style="--i:8">{{ isEngLang$i() ? 'd' : 'д' }}</span>
    <span style="--i:9">{{ isEngLang$i() ? 'r' : 'р' }}</span>
    <span style="--i:10">{{ isEngLang$i() ? 'i' : 'и' }}</span>
    <span style="--i:11">{{ isEngLang$i() ? 's' : 'с' }}</span>
    <span style="--i:12">{{ isEngLang$i() ? 'o' : 'о' }}</span>
    <span style="--i:13">{{ isEngLang$i() ? 'v' : 'в' }}</span>
  </h1>

  <h2>{{ isEngLang$i() ? 'Web developer portfolio' : 'Портфолио веб сайт' }}</h2>

  <span class="swipe"><<<<<<<&nbsp;swipe&nbsp;>>>>>>></span>
</div>
