<div class="tabs" *ngIf="tabsPositions$ | async as tabsPositions">
  <div class="about-me" [ngStyle]="{ 'transform': tabsPositions[0] }">
      <h2>{{ isEngLang$i() ? 'About me' : 'Обо мне' }}</h2>
      <div
        (scroll)="onScroll($event, 1)" 
        (wheel)="onWheel($event, 1)"
        (touchstart)="touchStart()"
        (touchend)="touchEnd()"
        (touccansel)="touchEnd()"
        (mouseenter)="mouseTabsEvent(true)"
        (mouseleave)="mouseTabsEvent(false)" class="about-me__cont scrollable-element">
          <div class="frame">
              <div>
                  <div>
                    <div>
                        <div class="image" [appBackgroundImage]="'main/my-photo.jpg'">
                        </div>
                    </div>
                  </div>
              </div>
          </div>

          <p>
            <span>{{ isEngLang$i() ?
                "I'm 30 years old. "
                : '30 лет.'
                }}
            </span>
            <span>{{ isEngLang$i() ?
                "An optimist with a technical view of the world. I love to create various kinds of interactive animations and games. Lead a healthy lifestyle, fond of philosophy and science, active in sports and learn English. I face challenges with calm and patience on the way to ambitious goals."
                : "Оптимист с техническим взглядом на мир. Спокойный, терпеливый и амбициозный. Люблю делать различного рода интерактивные анимации и игры. Веду здоровый образ жизни, увлекаюсь философией и наукой, активно занимаюсь спортом, и изучаю английский."
                }}
            </span>
            <span>{{ isEngLang$i() ?
                "I believe that a goal is exactly what you need for a happy life."
                : 'Считаю, что цель - это именно то, что нужно для счастливой жизни.'
                }}
            </span>
          </p>
      </div>
  </div>

  <div class="skills" [ngStyle]="{ 'transform': tabsPositions[1] }">
      <h2>{{ isEngLang$i() ? 'Skills' : 'Навыки' }}</h2>
      <div [class.lineOff]="currentTab$i() !== 1"  class="skills__cont">

            <div class="skills__cont_html">
                <p>HTML5</p> 
                <span class="line"></span>
            </div>
            <div class="skills__cont_css">
                <p>CSS3</p> 
                <span class="line"></span>
            </div>
            <div class="skills__cont_js">
                <p>JavaScript</p> 
                <span class="line"></span>
            </div>
            <div class="skills__cont_angular">
                <p>Angular</p> 
                <span class="line"></span>
            </div>
            <div class="skills__cont_react">
                <p>React</p> 
                <span class="line"></span>
            </div>
            <div class="skills__cont_vue">
                <p>Vue</p> 
                <span class="line"></span>
            </div>
            <div class="skills__cont_jquery">
                <p>jQuery</p> 
                <span class="line"></span>
            </div>
            <div class="skills__cont_php">
                <p>PHP</p> 
                <span class="line"></span>
            </div>
            <div class="skills__cont_git">
                <p>Git</p> 
                <span class="line"></span>
            </div>
            <div class="skills__cont_ps">
                <p>PhotoShop</p> 
                <span class="line"></span>
            </div>
            <div class="skills__cont_vs">
                <p>Visual Studio</p> 
                <span class="line"></span>
            </div>
            <div class="skills__cont_firebase">
                <p>Firebase</p> 
                <span class="line"></span>
            </div>
            <div class="skills__cont_english">
                <p>English</p> 
                <span class="line"></span>
            </div>
      </div>
  </div>

  <div class="experience" [ngStyle]="{ 'transform': tabsPositions[2] }">
      <h2>{{ isEngLang$i() ? 'Experience' : 'Опыт' }}</h2>
      <div
        (scroll)="onScroll($event, 2)" 
        (wheel)="onWheel($event, 2)"
        (touchstart)="touchStart()"
        (touchend)="touchEnd()"
        (touccansel)="touchEnd()"
        (mouseenter)="mouseTabsEvent(true)"
        (mouseleave)="mouseTabsEvent(false)"
        class="experience__cont scrollable-element-two">
          <p>{{ isEngLang$i() ?
                'Proficient in Angular (Version 9+) - 2 years and 8 months of hands-on experience in commercial development, following Agile methodologies. Mainly worked on online stores. Participated in the migration of a project from React to Angular. Worked on complex project that encompassed two separate brands and accommodated diverse B2B and B2C interactions within a single projec. Using feature-slice architecture. Git-flow, trunk based development.' :
                'Angular (версия 9+) - обширный практический опыт коммерческой разработки по Agile методологии - 2 года и 8 месяцев. В основном работал с интернет-магазинами. Участвовал в миграции проекта с React на Angular. Работал над сложным проектом, охватывающим два отдельных бренда и обеспечивающим разнообразные взаимодействия (B2B и B2C) в рамках одного проекта. Фича-слайс архитектура. Git-flow, trunk based development.'
          }}
          </p>
          <p>{{ isEngLang$i() ?
                'Five months commercial development experience on React(Redux).' :
                'Пятимесячный опыт коммерческой разработки на React (Redux).'
            }}
          </p>
          <p>{{ isEngLang$i() ?
                "Four months experience in the layout of mailing lists and the development of infographics and interactive tables on Vue for the company's internal website." :
                'Четыре месяца опыта вёрстки почтовых рассылок и разработки инфографиков, и интерактивных таблиц на Vue для внутреннего сайта компании.'
            }}
          </p>
          <p>{{ isEngLang$i() ?
                'I also have five months of commercial experience with (OP Linux). Worked primarily with CMS FlexcoreCMS: integration, debugging, layout websites, site adaptation for mobile devices and tablets and so on...' :
                'Также у меня есть пять месяцев коммерческого опыта c (OP Linux). Работал в основном с CMS FlexcoreCMS: интеграция, дебагинг, вёрстка сайтов, адаптация сайтов для мобильных устройств и планшетов и т. д.'
            }}
          </p>
          <p>{{ isEngLang$i() ?
                'During my professional career, I have done layout for more than 30 different web sites from scratch. Here are a couple of them:' :
                'За свою профессиональную карьеру сделал с нуля вёрстку для более 30 различных сайтов. Вот парочка из них:'
            }}
          </p>
          <a class="experience__cont-link" href="https://courses-adult.web.app/" target="_blank">https://courses-adult.web.app</a>
          <a class="experience__cont-link" href="https://fluent-site.web.app/" target="_blank">https://fluent-site.web.app</a>
          <p>{{ isEngLang$i() ?
                'I like to create various interactive animations and games, some of them can be seen on the next page.' :
                'Мне нравится создавать различные интерактивные анимации и игры, некоторые из них можно посмотреть на следующей странице.'
            }}
          </p>
      </div>
  </div>

  <div class="contacts" [ngStyle]="{ 'transform': tabsPositions[3] }">
      <h2>{{ isEngLang$i() ? 'Contacts' : 'Контакты' }}</h2>
      <div>
        <a href="tel:+79777872997">+7(707)-329-65-64 (WA)</a>
        <a href="mailto: fred_gad@mail.ru">fred_gad@mail.ru</a>
      </div>
  </div>
</div>
