// @use '@styles/keyframes';
// @use 'keyframes';

// "stylePreprocessorOptions": {
//   "includePaths": [
//     { "path": "./src/styles/keyframes.scss", "prefix": "keyframes"}
//   ]
// },

.tabs {
  position: relative;
  width: 55dvw;
  perspective: 4000px;
  transform-origin: preserve-3d;
  overflow: hidden;
  z-index: 9;

  > div {
    position: absolute;
    background: transparent;
    width: 55dvw;
    height: 100dvh;
    color: #932e96;
    transform-origin: 100% 100%;
    transition: 0.8s;

    h2 {
      height: 20dvh;
      display: flex;
      align-items: center;
      padding-left: 2dvw;
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
  }
  .about-me {
    transform-origin: 50% 0%;

    transform: rotateX(0deg);
    transform: rotateY(180deg);
    transform: rotateX(-180deg);
    transform: rotateY(-180deg);

    .about-me__cont {
      display: grid;
      position: relative;
      height: 60dvh;
      overflow-y: scroll;
      overflow-x: hidden;

      .frame {
        transform-origin: 50% 50%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        height: 225px;
        width: 225px;
        overflow: hidden;
        transition: 0.5s;
        animation: div1 2000s linear infinite reverse;
        box-sizing: border-box;

        * {
          box-sizing: border-box;
          transform-origin: 50% 50%;
          overflow: hidden;
          width: 225px;
          height: 225px;
        }
        > div {
          transition: 0.5s;
          animation: div2 4s linear infinite reverse;
          transform: rotate(45deg);

          > div {
            transition: 0.5s;

            > div {
              transition: 0.5s;
              position: relative;
              display: flex;
              width: 300px;
              height: 300px;
              justify-content: center;
              align-items: center;
              animation: div3 4000s linear infinite reverse;
              top: -37.5px;
              left: -37.5px;

              .image {
                position: fixed;
                z-index: 999;
                background-size: 100% 100%;
                transition: 0.5s;
                overflow: hidden;
                transform: scale(1.15) rotate(-45deg);
                filter: saturate(0);
              }
              .image:hover {
                filter: saturate(1);
                transform: scale(1.45) rotate(-45deg);
                transition: 1s;
              }
            }
          }
        }
        @media screen and (max-width: 440px) {
          height: 150px;
          width: 150px;
          * {
            height: 150px;
            width: 150px;
          }
          > div > div > div {
            width: 200px;
            height: 200px;
            top: -25px;
            left: -25px;
          }
        }
      }

      p {
        width: 100%;
        padding: 40px 2dvw 20px 2dvw;
        box-sizing: border-box;
      }
    }
    .about-me__cont:hover {
      box-shadow: inset -3px 0px 5px #932e96;
    }
  }
  .skills {
    transform: rotateY(180deg);

    .skills__cont {
      position: relative;
      height: 60dvh;
      overflow: hidden;
      transition: 0.2s;
      display: grid;
      align-items: center;

      > div {
        display: flex;
        position: relative;
        width: auto;
        left: 0;

        > span {
          display: block;
        }
      }

      .skills__cont_html span {
        width: 50%;
        transition: 4s;
      }
      .skills__cont_css span {
        width: 53%;
        transition: 3.5s;
      }
      .skills__cont_js span {
        width: 50%;
        transition: 3.6s;
      }
      .skills__cont_angular span {
        width: 50%;
        transition: 4s;
      }
      .skills__cont_react span {
        width: 30%;
        transition: 2.2s;
      }
      .skills__cont_vue span {
        width: 20%;
        transition: 1.6s;
      }
      .skills__cont_jquery span {
        width: 35%;
        transition: 3s;
      }

      .skills__cont_php span {
        width: 15%;
        transition: 1.2s;
      }

      .skills__cont_git span {
        width: 30%;
        transition: 2.4s;
      }
      .skills__cont_ps span {
        width: 22%;
        transition: 2.2s;
      }
      .skills__cont_vs span {
        width: 48%;
        transition: 4s;
      }
      .skills__cont_firebase span {
        width: 25%;
        transition: 3.8s;
      }

      .skills__cont_english span {
        width: 38%;
        transition: 3s;
      }
    }
    .skills__cont:hover {
      box-shadow: inset -3px 0px 5px #932e96;
    }
    .skills__cont.lineOff {
      div span {
        transition: 0s;
        width: 0px;
      }
    }
    > div > div {
      padding: 0;
      display: flex;
      align-items: center;

      p {
        min-width: 80px;
        position: relative;
        left: 2dvw;
        background: #fff;
        z-index: 1;
        font-size: 12px;
      }
      span {
        position: relative;
        background: #932e96;
        height: 5px;
      }
    }
  }
  .experience {
    transform: rotateX(-180deg);
    transform-origin: 0% 100%;

    .experience__cont {
      height: 60dvh;
      overflow-y: scroll;
      display: grid;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 17px;
        padding-left: 2dvw;
        padding-right: 2dvw;
        transition: 0.2s;
        margin: 0;
      }
      a {
        text-decoration: none;
        color: #222;
        margin-top: -16px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
      }
      a:hover {
        color: #932e96;
      }
      a:visited {
        color: #aaa;
      }
    }
    .experience__cont:hover {
      box-shadow: inset -3px 0px 5px #932e96;
    }
  }
  .contacts {
    transform: rotateY(-180deg);
    transform-origin: 0% 0%;

    div {
      height: 60dvh;
      display: flex;
      justify-content: center;
      flex-direction: column;

      a {
        text-decoration: none;
        padding: 0dvh 0 0dvh 2dvw;
        font-size: 18px;
        font-weight: 900;
        color: #222;
        margin-bottom: 20px;
      }
    }
  }
}

@keyframes div1 {
  0%,
  100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(72000deg);
  }
}
@keyframes div2 {
  0%,
  100% {
    border-radius: 0%;
  }
  50% {
    border-radius: 50%;
  }
}
@keyframes div3 {
  0%,
  100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-144000deg);
  }
}

@keyframes page1box1 {
  0% {
    transform: skewY(1deg) translateY(0);
  }
  10% {
    transform: skewY(0) translateY(5dvh);
  }
  20% {
    transform: skewY(-2.5deg) translateY(3dvh);
  }
  30% {
    transform: skewY(-1.5deg) translateY(5);
  }
  40% {
    transform: skewY(0) translateY(0);
  }
  50% {
    transform: skewY(-2.5deg) translateY(5dvh);
  }
  60% {
    transform: skewY(0) translateY(3dvh);
  }
  70% {
    transform: skewY(7.5deg) translateY(7dvh);
  }
  80% {
    transform: skewY(-7.5deg) translateY(10dvh);
  }
  90% {
    transform: skewY(-5deg) translateY(15dvh);
  }
  100% {
    transform: skewY(-2.5deg) translateY(10dvh);
  }
}
@keyframes page1box2 {
  0% {
    transform: skewY(0deg) translateY(0);
  }
  10% {
    transform: skewY(-2.5deg) translateY(-5dvh);
  }
  20% {
    transform: skewY(-5deg) translateY(-10dvh);
  }
  30% {
    transform: skewY(-2.5deg) translateY(-5dvh);
  }
  40% {
    transform: skewY(0deg) translateY(0);
  }
  50% {
    transform: skewY(2.5deg) translateY(5dvh);
  }
  60% {
    transform: skewY(5deg) translateY(13dvh);
  }
  70% {
    transform: skewY(7.5deg) translateY(19dvh);
  }
  75% {
    transform: skewY(-3.5deg) translateY(15dvh);
  }
  90% {
    transform: skewY(-1.5deg) translateY(19dvh);
  }
  100% {
    transform: skewY(-2.5deg) translateY(8dvh);
  }
}
@keyframes page2box1 {
  0% {
    transform: skewY(-1deg) translateY(0);
  }
  10% {
    transform: skewY(0) translateY(5dvh);
  }
  20% {
    transform: skewY(2.5deg) translateY(3dvh);
  }
  30% {
    transform: skewY(1.5deg) translateY(5);
  }
  40% {
    transform: skewY(0) translateY(0);
  }
  50% {
    transform: skewY(2.5deg) translateY(5dvh);
  }
  60% {
    transform: skewY(0) translateY(3dvh);
  }
  70% {
    transform: skewY(-7.5deg) translateY(7dvh);
  }
  80% {
    transform: skewY(7.5deg) translateY(10dvh);
  }
  90% {
    transform: skewY(5deg) translateY(15dvh);
  }
  100% {
    transform: skewY(2.5deg) translateY(10dvh);
  }
}
@keyframes page2box2 {
  0% {
    transform: skewY(0deg) translateY(0);
  }
  10% {
    transform: skewY(2.5deg) translateY(-5dvh);
  }
  20% {
    transform: skewY(5deg) translateY(-10dvh);
  }
  30% {
    transform: skewY(2.5deg) translateY(-5dvh);
  }
  40% {
    transform: skewY(0deg) translateY(0);
  }
  50% {
    transform: skewY(-2.5deg) translateY(5dvh);
  }
  60% {
    transform: skewY(-5deg) translateY(13dvh);
  }
  70% {
    transform: skewY(-7.5deg) translateY(19dvh);
  }
  75% {
    transform: skewY(3.5deg) translateY(15dvh);
  }
  90% {
    transform: skewY(1.5deg) translateY(19dvh);
  }
  100% {
    transform: skewY(2.5deg) translateY(8dvh);
  }
}
